<launch>

    <arg name="project" default="lis_slam"/>
    
    <!-- Parameters -->
    <rosparam file="$(find lis_slam)/config/params_cqu.yaml" command="load" />

    <!--- LOAM -->
    <include file="$(find lis_slam)/launch/include/module_loam.launch" />

    <!--- Robot State TF -->
    <include file="$(find lis_slam)/launch/include/module_robot_state_publisher.launch" />

    <!--- Run Navsat -->
    <!-- <include file="$(find lis_slam)/launch/include/module_navsat.launch" /> -->

    <!--- Run Rviz-->
    <include file="$(find lis_slam)/launch/include/module_rviz.launch" />

</launch>
